/* General Styles */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Work Sans", serif;
    background-color: #111;
    color: white;
    text-align: center;
    padding-top: 80px;
    /* Extra space to prevent content from being hidden behind the nav */
    padding-bottom: 80px;
    /* Extra space to prevent content from being hidden behind the footer */
}

section {
    scroll-margin-top: 80px;
    /* Adjust to match your nav height */
}

/* Navigation Bar */
nav {
    background-color: #6eeb83;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    z-index: 1000;
    height: 60px;
}

nav>div {
    width: 90%;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    display: inline-block;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    gap: center;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    padding: 20px;
    background-color: #222;
}

.profile-pic {
    width: 200px;
    height: 200px;
    /*border-radius: 50%;
    border: 4px solid white;*/
    object-fit: cover;
    margin-bottom: 20px;
    align-items: flex-start;
    transition: filter 0.3s ease;
}

.profile-pic:hover {
    filter: grayscale(100%);
}

.hero-content h2 {
    font-size: 28px;
    margin-bottom: 10px;
    align-items: flex-end;
}

.hero-content p {
    font-size: 16px;
    max-width: 600px;
    line-height: 1.6;
    align-items: flex-end;
}

/* Social Media Links */
.social-links {
    margin-top: 20px;
    align-items: flex-end;
}

.social-links a {
    margin: 0 10px;
}

.social-links img {
    width: auto;
    height: 40px;
    transition: transform 0.3s;
}

.social-links img:hover {
    transform: scale(1.25);
}

/* Footer */
footer {
    background-color: #6eeb83;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 5%;
    box-sizing: border-box;
}

.copyright {
    margin: 0;
}

.back-to-top {
    text-decoration: none;
    color: white;
    transition: transform 0.3s ease;
}

.back-to-top:hover {
    text-decoration: underline;
}